
  h1 {
    color:rgb(16, 17, 16);
    background-color: green;
    text-align: center;
  }
  h2 {
    color:hsla(233, 96%, 11%, 0.718);
  }
  body {
    background-color:rgb(206, 204, 189);
  }

div{
  padding:5px;
  margin: 5px;

}



a {
  color: rgb(1, 1, 1);
}

a:hover {
  color:rgb(20, 89, 162);
}

@media only screen and (max-width: 576px) {

  body {

    background-color: rgb(224, 32, 32);

  }

}

@media only screen and (min-width: 576px) {

  body {

    background-color: rgb(128, 168, 128);

  }

}

@media only screen and (min-width: 768px) {

  body {

    background-color: rgb(9, 40, 133);

  }

}

@media only screen and (min-width: 992px) {

  body {

    background-color: rgb(197, 135, 20);

  }

}